body {
  padding: 0;
  margin: 0;
}

.containerBox {
  /* background: url("../assets/bg.png") no-repeat center center; */
  background: url('../bg.png') no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

/* examine */   
